.table-width table {
  border-collapse: collapse;
  width: 100%;
}

.table-text th {
  text-align: left;
  width: 10%;
}

.header__view {
  height: 100%;
  padding: 60px;
  text-align: right;
  background: #000000;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: left;
}

.header__title {
  height: 100%;
  padding: 50px;
  color: white;
  font-size: 50px;
  margin-left: 200px;
}

.header__image {
  height: 200px;
  width: 350px;
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  margin: auto;
}
